@using NeoAdmin.Blazor.Components

@* 渲染模式由 App.razor 上的 <Routes> 统一决定：
   默认 InteractiveServer；标记了 [ExcludeFromInteractiveRouting] 的页面走静态 SSR。 *@
<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(LayoutAdmin).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(LayoutAdmin)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(LayoutEmpty)">
            <p style="margin-top: 100px; margin-left: 100px;">页面不存在。</p>
        </LayoutView>
    </NotFound>
</Router>
